
#footer .line {
    width: 94%;
    height: 14em;
    margin-left: -30%;
}
.info {
    font-family: "covered_by_your_graceregular";
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    font-size: 120%;
    /* line-height: 0.3em; */
    width: 90%;
    margin-left: 35%;
    margin-top: -27%;
    color: #fff;
}
.social-font {
    width: 100%;
    margin: 0 auto;
    float: left;
    padding-left: 40%;
}
.search {
    padding .1em 0 0 1em
}