#logodiv{
	height:85px;
}
#imglogo{
	height:0;
	position:absolute;
	left:25%;
}
#textlogo{
	margin-left:82px;
        width:75%;
        text-align:center;
}
#footer .line{
	margin-left: -365px;
}
.info{
	margin-left:211px;
	margin-top:-100px;
}
#myicon {
    margin-left: 111px;
}